@model ProductStore.Models.Mark
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Admin/_AdminLayout.cshtml";
}

<h1>@localizer["Details"]</h1>

<div class="register-photo">
    <div class="form-container">
        <div class="form-horizontal">
            <div style="background-color: white">
                <div>
                    <h4 style="text-align: center">@localizer["Mark"]</h4>
                    <hr />
                    <dl class="row">
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.TotalMark)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.TotalMark)
                        </dd>
                        <dt class="col-sm-4">
                            User
                        </dt>
                        <dd class="col-sm-8">
                            <dl class="row">
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.User.FirstName)
                                </dt>
                                <dd class="col-sm-8">
                                    @Html.DisplayFor(model => model.User.FirstName)
                                </dd>
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.User.LastName)
                                </dt>
                                <dd class="col-sm-8">
                                    @Html.DisplayFor(model => model.User.LastName)
                                </dd>
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.User.UserName)
                                </dt>
                                <dd class="col-sm-8">
                                    @Html.DisplayFor(model => model.User.UserName)
                                </dd>
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.User.Email)
                                </dt>
                                <dd class="col-sm-8">
                                    @Html.DisplayFor(model => model.User.Email)
                                </dd>
                                @if (Model.User.ProfilePicture != null)
                                {
                                    <dt class="col-sm-4">
                                        @Html.DisplayNameFor(model => model.User.ProfilePicture)
                                    </dt>
                                    <dd class="col-sm-8">
                                        <img id="profilePicture" style="width:80px;height:60px; object-fit:cover" src="@Model.User.ProfilePicture">
                                    </dd>
                                }
                            </dl>
                        </dd>
                        <dt class="col-sm-4">
                            Product
                        </dt>
                        <dd class="col-sm-8">
                            <dl class="row">
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.Product.ProductName)
                                </dt>
                                <dd class="col-sm-8">
                                    @Html.DisplayFor(model => model.Product.ProductName)
                                </dd>
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.Product.ProductDescription)
                                </dt>
                                <dd class="col-sm-8">
                                    @Html.DisplayFor(model => model.Product.ProductDescription)
                                </dd>
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.Product.ProductPicture)
                                </dt>
                                <dd class="col-sm-8">
                                    <img id="profilePicture" style="width:80px;height:60px; object-fit:cover" src="@Model.Product.ProductPicture">
                                </dd>
                            </dl>
                        </dd>
                    </dl>
                </div>
                <div>
                    <a asp-action="Edit" asp-route-id="@Model.MarkId" class="btn btn-secondary btn-sm" role="button" aria-pressed="true">@localizer["Edit"]</a>
                    <a asp-action="Index" class="btn btn-secondary btn-sm" role="button" aria-pressed="true">@localizer["Back to List"]</a>
                </div>
            </div>
        </div>
    </div>
</div>