@model ProductStore.Models.Sale
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Admin/_AdminLayout.cshtml";
}

<h1>@localizer["Create"]</h1>

<h4>@localizer["Sale"]</h4>
<hr />
<hr />
@if (ViewBag.StatusMessage != null)
{
    <partial name="../Shared/_StatusMessage" model="ViewBag.StatusMessage" />
}
<div class="register-photo">
    <div class="form-container">
        <div class="form-horizontal">
            <div class="row">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="SaleValue" class="control-label"></label>
                        <input asp-for="SaleValue" class="form-control" />
                        <span asp-validation-for="SaleValue" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Product, new { @class = "control-label" })
                        @Html.DropDownListFor(m => m.Product, new SelectList(ViewBag.Products, "Value", "Text"), new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label asp-for="AddedDate" class="control-label"></label>
                        <input asp-for="AddedDate" class="form-control" />
                        <span asp-validation-for="AddedDate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="FromDate" class="control-label"></label>
                        <input asp-for="FromDate" class="form-control" />
                        <span asp-validation-for="FromDate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ToDate" class="control-label"></label>
                        <input asp-for="ToDate" class="form-control" />
                        <span asp-validation-for="ToDate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="@localizer["Create"]" class="btn btn-secondary btn-lg btn-block" />
                    </div>
                </form>
            </div>

            <div>
                <a asp-action="Index" class="btn btn-secondary btn-sm" role="button" aria-pressed="true">@localizer["Back to List"]</a>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
