@model ProductStore.Models.Sale
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Admin/_AdminLayout.cshtml";
}

<h1>@localizer["Details"]</h1>
<div class="register-photo">
    <div class="form-container">
        <div class="form-horizontal">
            <div style="background-color: white">
                <div>
                    <h4 style="text-align: center">@localizer["Sale"]</h4>
                    <hr />
                    <dl class="row">
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.SaleValue)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.SaleValue)
                        </dd>
                        <dt class="col-sm-4">
                            @localizer["Product"]
                        </dt>
                        <dd class="col-sm-8">
                            <dl class="row">
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.Product.ProductName)
                                </dt>
                                <dd class="col-sm-8">
                                    @Html.DisplayFor(model => model.Product.ProductName)
                                </dd>
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.Product.ProductDescription)
                                </dt>
                                <dd class="col-sm-8">
                                    @Html.DisplayFor(model => model.Product.ProductDescription)
                                </dd>
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.Product.ProductPicture)
                                </dt>
                                <dd class="col-sm-8">
                                    <img id="profilePicture" style="width:80px;height:60px; object-fit:cover" src="data:image/*;base64,@(Convert.ToBase64String(Model.Product.ProductPicture))">
                                </dd>
                            </dl>
                        </dd>
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.AddedDate)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.AddedDate)
                        </dd>
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.FromDate)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.FromDate)
                        </dd>
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.ToDate)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.ToDate)
                        </dd>
                    </dl>
                </div>
                <div>
                    <a asp-action="Edit" asp-route-id="@Model.SaleId" class="btn btn-secondary btn-sm" role="button" aria-pressed="true">@localizer["Edit"]</a>
                    <a asp-action="Index" class="btn btn-secondary btn-sm" role="button" aria-pressed="true">@localizer["Back to List"]</a>
                </div>
            </div>
        </div>
    </div>
</div>