@using Microsoft.AspNetCore.Identity
@using ProductStore.Areas.Identity.Data

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer

@{ 
    var imageUrl = localizer["ImageUrl"].Value;
}
<ul class="navbar-nav">
    <li>
        @if (localizer["en"].Value == "English")
        {
            <img style="margin-top:8px; align-self :center; width: 30px; height: 30px; border-radius: 25%;" src="~/images/Britan-Flag.jpg">
        }
        else if (localizer["en"].Value == "Английский")
        {
            <img style="margin-top: 8px; align-self: center; width: 30px; height: 30px; border-radius: 25%;" src="~/images/russian-flag-russian-flag-russia-flag-of-russia.jpg">
        }
        else if (localizer["en"].Value == "Англійська")
        {
            <img style="margin-top: 8px; align-self: center; width: 30px; height: 30px; border-radius: 25%;" src="~/images/Flag_of_Ukraine.png">
        }
    </li>
    <li class="nav-item dropdown">
        @await Html.PartialAsync("_CulturePartial")
    </li>
    <li style=" margin-top: 7px;">
        <a href="/Home/Basket" >
            <img src="~/images/basket.png" style="width:32px; height: 26px; background-color: transparent; border-radius: 5%; align-self: end; margin-left: 15px" />
        </a>
    </li>
    @if (SignInManager.IsSignedIn(User))
    {

        <li class="nav-item">
            <a id="manage" class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">@UserManager.GetUserName(User)</a>
        </li>
        <li class="nav-item">
            @{
                var user = await UserManager.GetUserAsync(User);
                var profilePhoto = user.ProfilePicture;
            }
            <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                @if (profilePhoto != null)
                {
                    <img id="profilePictureLayout" style=" vertical-align: central; width: 40px; height: 40px; border-radius: 50%; margin-right: 10px; margin-left: 10px; object-fit: cover" src="@profilePhoto">
                }
                else
                {
                    <img id="profilePictureLayout" style=" vertical-align: central; width: 40px; height: 40px; border-radius: 50%; margin-right: 10px; margin-left: 10px; object-fit: cover" src="~/images/BasicUserPhoto.png">
                }
            </a>
        </li>
        <li class="nav-item">
            <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button id="logout" type="submit" class="btn btn-light action-button">@localizer["Logout"]</button>
</form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" id="register" asp-area="Identity" asp-page="/Account/Register">@localizer["Register"]</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" id="login" asp-area="Identity" asp-page="/Account/Login">@localizer["Login"]</a>
</li>
    }
</ul>
