@model IEnumerable<ProductStore.Models.Order>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Admin/_AdminLayout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-secondary btn-sm">Create New</a>
</p>
@if (ViewBag.StatusMessage != null)
{
    <partial name="../Shared/_StatusMessage" model="ViewBag.StatusMessage" />
}
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AmountPaid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaymentType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FormedDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AmountPaid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FormedDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.OrderId" class="btn btn-secondary btn-sm" role="button" aria-pressed="true">Edit</a>
                <a asp-action="Details" asp-route-id="@item.OrderId" class="btn btn-secondary btn-sm" role="button" aria-pressed="true">Details</a>
                <a asp-action="Delete" asp-route-id="@item.OrderId" class="btn btn-secondary btn-sm" role="button" aria-pressed="true">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
