@model IEnumerable<ProductStore.Models.Country>
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Admin/_AdminLayout.cshtml";
}

@if (ViewBag.StatusMessage != null)
{
    <partial name="../Shared/_StatusMessage" model="ViewBag.StatusMessage" />
}
<p>
    <a asp-action="Create" class="btn btn-secondary btn-sm">@localizer["Create New"]</a>
</p>
<table class="table table-bordered">
    <thead class="thead-light">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CountryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CountryAbbreviation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CountryCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CountryPicture)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CountryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CountryAbbreviation)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CountryCode)
                </td>
                <td>
                    <img id="profilePicture" style="width:45px;height:30px; object-fit:cover" src="data:image/*;base64,@(Convert.ToBase64String(item.CountryPicture))">
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.CountryId" class="btn btn-secondary btn-sm" role="button" aria-pressed="true">@localizer["Edit"]</a>
                    <a asp-action="Details" asp-route-id="@item.CountryId" class="btn btn-secondary btn-sm" role="button" aria-pressed="true">@localizer["Details"]</a>
                    <a asp-action="Delete" asp-route-id="@item.CountryId" class="btn btn-secondary btn-sm" role="button" aria-pressed="true">@localizer["Delete"]</a>
                </td>
            </tr>
        }
    </tbody>
</table>
