@model IEnumerable<ProductStore.Models.Category>
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer


<div class="alert alert-info" style="width:100%">
    @localizer["Categories"]
</div>
<table class="table table-bordered">
    <thead class="thead-light">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsDeleted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryPicture)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsDeleted)
                </td>
                <td>
                    <img id="profilePicture" style="width:45px;height:30px; object-fit:cover" src="data:image/*;base64,@(Convert.ToBase64String(item.CategoryPicture))">
                </td>
                <td>
                    <a asp-controller="Categories" asp-action="Edit" asp-route-id="@item.CategoryId" class="btn btn-secondary btn-sm" role="button" aria-pressed="true">@localizer["Edit"]</a>
                    <a asp-controller="Categories" asp-action="Details" asp-route-id="@item.CategoryId" class="btn btn-secondary btn-sm" role="button" aria-pressed="true">@localizer["Details"]</a>
                    <a asp-controller="Categories" asp-action="Delete" asp-route-id="@item.CategoryId" class="btn btn-secondary btn-sm" role="button" aria-pressed="true">@localizer["Delete"]</a>
                </td>
            </tr>
        }
    </tbody>
</table>
