@model ProductStore.Models.Comment
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Admin/_AdminLayout.cshtml";
}

<h1>@localizer["Edit"]</h1>

<h4>@localizer["Comment"]</h4>
<hr />
<div class="register-photo">
    <div class="form-container">
        <div class="form-horizontal">
            <div class="row">
                <form asp-action="Edit" style=" width: 95%; margin-left: 20px;">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="CommentId" />
                    <div class="form-group">
                        <label asp-for="CommentTitle" class="control-label"></label>
                        <input asp-for="CommentTitle" class="form-control" />
                        <span asp-validation-for="CommentTitle" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="CommentBody" class="control-label"></label>
                        <input asp-for="CommentBody" class="form-control" />
                        <span asp-validation-for="CommentBody" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.CommentUser, new { @class = "control-label" })
                        @Html.DropDownListFor(m => m.CommentUser, new SelectList(ViewBag.Users, "Value", "Text"), new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.CommentProduct, new { @class = "control-label" })
                        @Html.DropDownListFor(m => m.CommentProduct, new SelectList(ViewBag.Products, "Value", "Text"), new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label asp-for="PostDate" class="control-label"></label>
                        <input asp-for="PostDate" class="form-control" />
                        <span asp-validation-for="PostDate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="@localizer["Save"]" class="btn btn-secondary btn-lg btn-block" />
                    </div>
                </form>
            </div>

            <div>
                <a asp-action="Index" class="btn btn-secondary btn-sm" role="button" aria-pressed="true">@localizer["Back to List"]</a>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
