@model IEnumerable<ProductStore.Models.Category>
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Admin/_AdminLayout.cshtml";
}

@if (ViewBag.StatusMessage != null)
{
    <partial name="../Shared/_StatusMessage" model="ViewBag.StatusMessage" />
}
<p>
    <a asp-action="Create" class="btn btn-secondary btn-sm">@localizer["Create New"]</a>
</p>
<table class="table table-bordered">
    <thead class="thead-light">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsDeleted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryPicture)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsDeleted)
                </td>
                <td>
                    <img id="profilePicture" style="width:45px;height:30px; object-fit:cover" src="@item.CategoryPicture">
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.CategoryId" class="btn btn-secondary btn-sm" role="button" aria-pressed="true">@localizer["Edit"]</a>
                    <a asp-action="Details" asp-route-id="@item.CategoryId" class="btn btn-secondary btn-sm" role="button" aria-pressed="true">@localizer["Details"]</a>
                    <a asp-action="Delete" asp-route-id="@item.CategoryId" class="btn btn-secondary btn-sm" role="button" aria-pressed="true">@localizer["Delete"]</a>
                </td>
            </tr>
        }
    </tbody>
</table>
