@model IEnumerable<ProductStore.Models.Rating>
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Admin/_AdminLayout.cshtml";
}

<p>
    <a asp-action="Create" class="btn btn-secondary btn-sm">@localizer["Create New"]</a>
</p>
@if (ViewBag.StatusMessage != null)
{
    <partial name="../Shared/_StatusMessage" model="ViewBag.StatusMessage" />
}
<table class="table table-striped">
    <thead class="thead-light">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Product.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserMarks.TotalMark)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserMarks.TotalMark)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.RatingId" class="btn btn-secondary btn-sm" role="button" aria-pressed="true">@localizer["Edit"]</a>
                    <a asp-action="Details" asp-route-id="@item.RatingId" class="btn btn-secondary btn-sm" role="button" aria-pressed="true">@localizer["Details"]</a>
                    <a asp-action="Delete" asp-route-id="@item.RatingId" class="btn btn-secondary btn-sm" role="button" aria-pressed="true">@localizer["Delete"]</a>
                </td>
            </tr>
        }
    </tbody>
</table>
