@model List<Comment>

<ul id="userComments1" class="list-group">
    @foreach (Comment comment in Model)
    {

        <li class="list-group-item" style="margin-bottom:6px;">
            <div class="media">
                <div></div>
                <div class="media-body">
                    <div class="media" style="overflow:visible;">
                        <div>
                            @if (comment.CommentUser.ProfilePicture != null)
                            {
                                <img class="mr-3" style="width: 40px; height:40px;" src="@comment.CommentUser.ProfilePicture">
                            }
                            else
                            {
                                <img id="profilePicture" style=" vertical-align: central; width: 40px; height: 40px; border-radius: 50%; margin-right: 10px; margin-left: 10px; object-fit: cover" src="~/images/BasicUserPhoto.png">
                            }
                        </div>
                        <div class="media-body" style="overflow:visible;">
                            <div class="row">
                                <div class="col-md-12">
                                    <p>
                                        <a href="#">@comment.CommentUser.UserName:</a> 
                                        <div style="width:100%; word-break:break-word">@comment.CommentTitle</div>
                                        <hr />
                                        <div style="width:100%; word-break:break-word">@comment.CommentBody</div>
                                        <small class="text-muted utc-date">@comment.PostDate.ToString("yyyy-MM-dd HH:mm:ss")</small>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    }
</ul>

<script>
    const items = document.getElementsByClassName("utc-date");
    for (let i = 0; i < items.length; i++) {
        let date = new Date(items[i].innerHTML);
        let newDate = new Date(Date.UTC(date.getUTCFullYear(), date.getUTCMonth() + 1, date.getUTCDate(), date.getHours(), date.getMinutes(), date.getSeconds()));
        items[i].innerHTML = newDate.getFullYear() + "-" + (newDate.getMonth()) + "-" + newDate.getDate() + " " + newDate.getHours() + ":" + newDate.getMinutes() + ":" + newDate.getSeconds();
    }
</script>