@model IEnumerable<ProductStore.Models.Product>

@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">@localizer["Welcome"]</h1>
</div>

<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img style="height: 600px;" class="d-block w-100" src="~/images/ecommerce-platform.jpg" alt="First slide">
        </div>
        <div class="carousel-item">
            <img style="height: 600px;" class="d-block w-100" src="~/images/Blog-Online-Store-2020-1200x600.png" alt="Second slide">
        </div>
        <div class="carousel-item">
            <img style="height: 600px;" class="d-block w-100" src="~/images/store-1569252622.png" alt="Third slide">
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">@localizer["Previous"]</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">@localizer["Next"]</span>
    </a>
</div>
<div class="article-clean">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-xl-8 offset-lg-1 offset-xl-2">
                <div class="intro">
                    <h1 class="text-center">@localizer["Online"]</h1>
                    <p class="text-center"><span class="by">@localizer["by"]</span> <a href="#">@localizer["FIO"]</a><span class="date">@localizer["Date"]</span></p><img class="img-fluid" src="~/images/kertas1-.jpg">
                </div>
                <div class="text">
                    <p>
                        @localizer["LongText"]
                    </p>
                    <figure>
                        <img class="figure-img" src="~/images/19-best-online-shopping-store-cart-logo.gif">
                        <figcaption>@localizer["Logo"]</figcaption>
                    </figure>
                    <p>
                        @localizer["FastProcessing"]
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<hr />
@if (Model.Count() != 0)
{
    int count;
    if (Model.Count() < 4) 
    {
        count = Model.Count();
    }
    else
    {
        count = 4;
    }
    <div class="article-list">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">@localizer["LatestNew"]</h2>
                <p class="text-center">@localizer["New"]</p>
            </div>
            <div class="row articles">
                @for (int i = 0; i < count; i++)
                {
                    <div class="col-sm-6 col-md-3 item">
                        @{
                            //var base64 = Convert.ToBase64String(Model.ElementAt(i).ProductPicture);
                            //var imgsrc = string.Format("data:image/jpg;base64,{0}", base64);
                        }
                        <a href="~/Home/ProductCard/@Model.ElementAt(i).ProductId"><img style="height:150px; width:200px" src="@Model.ElementAt(i).ProductPicture"></a>
                        <h3 class="name">@Model.ElementAt(i).ProductName</h3>
                        <p class="description">@Model.ElementAt(i).ProductDescription</p><a class="action" href="~/Home/ProductCard/@Model.ElementAt(i).ProductId"><i class="fa fa-arrow-circle-right"></i></a>
                        <div class="product-item-badge">@localizer["NewWord"]</div>

                    </div>
                }
            </div>
        </div>
    </div>
}
