@using Microsoft.AspNetCore.Identity

@model ProductStore.Models.Product
@inject UserManager<ProductStore.Areas.Identity.Data.ApplicationUser> UserManager

@{
    ViewBag.Title = "ProductCard";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var user = await UserManager.GetUserAsync(User);

}
@{
    var base64 = Convert.ToBase64String(Model.ProductPicture);
    var imgsrc = string.Format("data:image/jpg;base64,{0}", base64);
}

<div class="container">
    <div class="row">
        <div class="col-md-7">
            <div class="row">
                <div class="col-md-12"><img class="img-thumbnail img-fluid center-block" src=@imgsrc></div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="row">
                <h1 class="col-md-10">@Model.ProductName</h1>

                <div class="col-md-2">
                    <a href="#"><img src="~/images/basket.png" style="width: 45px; height: 38px; background-color: transparent; border-radius: 5%; align-self:end" /></a>
                </div>
            </div>

            <div class="col-md-12" style="align-content:center">
                <div class="gift__rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star fa-star-half-o"></i>
                    <span class="gift__rating-number">(35)</span>
                </div>
            </div>
            <hr />
            <p>
                <br>
                <br>
                <strong>Category name:</strong>
                @Model.Category.CategoryName

                <br>
                <br />
                <strong>Brand:</strong>
                @Html.DisplayFor(model => model.Brand)

                <br>
                <br />
                <strong>Description:</strong>
                @Html.DisplayFor(model => model.ProductDescription)

                <br>
                <br />
                <strong>Is in stock:</strong>
                @Html.DisplayFor(model => model.InStock)

                <br>
                <br />
                <strong>Price:</strong>
                @Html.DisplayFor(model => model.Price)

                @if (ViewBag.Sale != null)
                {
                    <br />
                    <strong>With sale:</strong>
                    string price = Math.Round(ViewBag.Sale.SaleValue * Model.Price, 2).ToString();
                    @price
                }
                <br>
                <br />
                <strong>Weight:</strong>
                @Html.DisplayFor(model => model.Weight)
                @*@await Component.InvokeAsync("EnergyInfo", new { product = Model })*@
                <vc:energy-info product="@Model"></vc:energy-info>
                <br />
                <strong>Quantity:</strong>
                @Html.DisplayFor(model => model.Quantity)
            </p>
        </div>
    </div>
    @{
        var comments = ViewBag.Comments;
    }
    <div class="card">
        <div class="card-header">
            <h3>Community Chat</h3>
        </div>
        <div class="card-body" style="height:auto;">
            <form asp-action="Comment" method="post">
                <ul class="list-group">
                    <li class="list-group-item" style="margin-bottom:6px;">
                        <div class="media">
                            <div></div>
                            <div class="media-body">
                                <div class="media" style="overflow:visible;">
                                    <div>
                                        @if (user.ProfilePicture != null)
                                        {
                                            <img class="mr-3" style="width: 40px; height:40px;" src="data:image/*;base64,@(Convert.ToBase64String(user.ProfilePicture))">
                                        }
                                        else
                                        {
                                            <img id="profilePicture" style=" vertical-align: central; width: 40px; height: 40px; border-radius: 50%; margin-right: 10px; margin-left: 10px; object-fit: cover" src="~/images/BasicUserPhoto.png">
                                        }
                                    </div>
                                    <div class="media-body" style="overflow:visible;">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <p >
                                                    <a href="#">@user.UserName:</a>
                                                </p>
                                                <input class="form-control" style="width:100%" type="text" />
                                                <input  style="width:100%" class="form-control" for type="text" />
                                                <button class="btn btn-light" type="submit">Add Comment</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </form>
            <a href="javascript:void(0)" id="clicklink">Load more</a>
            <ul class="list-group">
                @foreach (Comment comment in comments)
                {

                    <li class="list-group-item" style="margin-bottom:6px;">
                        <div class="media">
                            <div></div>
                            <div class="media-body">
                                <div class="media" style="overflow:visible;">
                                    <div>
                                        @if (comment.CommentUser.ProfilePicture != null)
                                        {
                                            <img class="mr-3" style="width: 40px; height:40px;" src="data:image/*;base64,@(Convert.ToBase64String(comment.CommentUser.ProfilePicture))">
                                        }
                                        else
                                        {
                                            <img id="profilePicture" style=" vertical-align: central; width: 40px; height: 40px; border-radius: 50%; margin-right: 10px; margin-left: 10px; object-fit: cover" src="~/images/BasicUserPhoto.png">
                                        }
                                    </div>
                                    <div class="media-body" style="overflow:visible;">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <p>
                                                    <a href="#">@comment.CommentUser.UserName:</a> @comment.CommentTitle <br>
                                                    @comment.CommentBody <br />
                                                    <small class="text-muted">@comment.PostDate</small>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>


@*<div style="background-color:white; height: 10px"></div>
    <p>
        <a href="~/Products/Edit/@Model.ProductId" class="btn btn-secondary btn-sm" role="button" aria-pressed="true">Edit</a>
        <a href="~/Home/Products" class="btn btn-secondary btn-sm" role="button" aria-pressed="true">Back to List</a>
        <a href="~/Categories/Details/@Model.CategoryId" class="btn btn-secondary btn-sm" role="button" aria-pressed="true">View category</a>
    </p>
    <div style="background-color:white; height: 10px"></div>*@