@using Microsoft.AspNetCore.Identity

@model ProductStore.Models.Product
@inject UserManager<ProductStore.Areas.Identity.Data.ApplicationUser> UserManager
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer

@{
    ViewBag.Title = "ProductCard";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var user = await UserManager.GetUserAsync(User);
    var userId = "";
    if (user != null)
    {
        userId = user.Id;
    }
    //var userImage = string.Format("data:image/jpg;base64,{0}", Convert.ToBase64String(user.ProfilePicture));
}
@{
    //var base64 = Convert.ToBase64String(Model.ProductPicture);
    //var imgsrc = string.Format("data:image/jpg;base64,{0}", base64);
}

<div class="container">
    <div class="row">
        <div class="col-md-7">
            <div class="row">
                <div class="col-md-12"><img class="img-thumbnail img-fluid center-block" src="@Model.ProductPicture"></div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="row">
                <h1 class="col-md-10">@Model.ProductName</h1>

                <div class="col-md-2">
                    <a href="/Home/AddToProductBasketCookie/@Model.ProductName"><img src="~/images/basket.png" style="width: 45px; height: 38px; background-color: transparent; border-radius: 5%; align-self:end" /></a>
                </div>
            </div>

            <div class="col-md-12" style="align-content:center">
                <div class="gift__rating" id="ratinglist">
                    @*<i class="fa fa-star fa-check"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half"></i>
                    <i class="fa fa-star-half-empty"></i>
                    <i class="fa fa-star-half-full"></i>
                    <i class="fa fa-star-half-o"></i>
                    <i class="fa fa-star-o"></i>
                    <i class="fa-star fa checked"></i>
                    <i class="fa-star fa checked"></i>
                    <i class="fa-star fa checked"></i>
                    <i class="fa-star fa"></i>
                    <span class="gift__rating-number">(35)</span>*@
                    @{
                        var rating = ViewBag.Rating;
                    }

                    @for (int i = 0; i < rating.FullStars; i++)
                    {
                        string identif = "ratingValue" + (i + 1);
                        <a href="javascript:void(0)" id="@identif" class="fa fa-star" style="color: #FFD700"></a>
                    }

                    @if (rating.HalfStar)
                    {
                        string identif = "ratingValue" + (rating.FullStars + 1);
                        <a href="javascript:void(0)" id="@identif" class="fa fa-star-half-o" style="color: #FFD700"></a>
                    }

                    @for (int i = 0; i < rating.EmptyStart; i++)
                    {
                        string identif = "ratingValue" + (5 - rating.EmptyStart + i + 1);
                        <a href="javascript:void(0)" id="@identif" class="fa fa-star-o" style="color: #FFD700"></a>
                    }

                    @if (rating.MarkCount == 0)
                    {
                        <span class="gift__rating-number">(Be the first)</span>
                    }
                    else
                    {
                        <span class="gift__rating-number">(@rating.MarkCount)</span>
                    }
                    @*<partial name="_DisplayRatingPartial" model="@ViewBag.Rating" />*@
                </div>
                @*<a href="#">Set rating</a>*@
            </div>
            <hr />
            <p>
                <br>
                <br>
                <strong>@localizer["CategoryName"]:</strong>
                @Model.Category.CategoryName

                <br>
                <br />
                <strong>@localizer["Brand"]:</strong>
                @Html.DisplayFor(model => model.Brand)

                <br>
                <br />
                <strong>@localizer["Description"]:</strong>
                @Html.DisplayFor(model => model.ProductDescription)

                <br>
                <br />
                <strong>@localizer["Stock"]:</strong>
                @Html.DisplayFor(model => model.InStock)

                <br>
                <br />
                <strong>@localizer["Price"]:</strong>
                @Html.DisplayFor(model => model.Price)

                @if (ViewBag.Sale != null)
                {
                    <br />
                    <strong>@localizer["Sale"]:</strong>
                    string price = Math.Round(ViewBag.Sale.SaleValue * Model.Price, 2).ToString();
                    @price
                }
                <br>
                <br />
                <strong>@localizer["Weight"]:</strong>
                @Html.DisplayFor(model => model.Weight)
                @*@await Component.InvokeAsync("EnergyInfo", new { product = Model })*@
                <vc:energy-info product="@Model"></vc:energy-info>
                <br />
                <strong>@localizer["Quantity"]:</strong>
                @Html.DisplayFor(model => model.Quantity)
            </p>
        </div>
    </div>
    @{
        var comments = ViewBag.Comments;
    }
    <div class="card">
        <div class="card-header">
            <h3>@localizer["Comments"]</h3>
        </div>
        <div class="card-body" style="height:auto;">
            @*<form asp-action="Comment" method="post">*@
            @if (user != null)
            {
                <ul class="list-group">
                    <li class="list-group-item" style="margin-bottom:6px;">
                        <div class="media">
                            <div></div>
                            <div class="media-body">
                                <div class="media" style="overflow:visible;">
                                    <div>
                                        @if (user.ProfilePicture != null)
                                        {
                                            <img class="mr-3" style="width: 40px; height:40px;" src="@user.ProfilePicture">
                                        }
                                        else
                                        {
                                            <img id="profilePicture" style=" vertical-align: central; width: 40px; height: 40px; border-radius: 50%; margin-right: 10px; margin-left: 10px; object-fit: cover" src="~/images/BasicUserPhoto.png">
                                        }
                                    </div>
                                    <div class="media-body" style="overflow:visible;">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <p>
                                                    <a href="#">@user.UserName:</a>
                                                </p>
                                                <input id="commentTitle" name="commentTitle" class="form-control" style="width:100%" type="text" />
                                                <textarea id="commentBody" name="commentBody" style="width:100%" class="form-control" for type="text"></textarea>
                                                @*<input id="postDate" name="postDate" class="form-control" style="width:100%" value="@DateTime.UtcNow.ToString()" type="text" hidden />*@
                                                
                                                <input id="username" name="username" class="form-control" style="width:100%" value="@user.UserName" type="text" hidden />
                                                <input id="image" name="image" class="form-control" style="width:100%" value="@user.ProfilePicture" type="text" hidden />
                                                <input id="productName" name="productName" class="form-control" style="width:100%" value="@Model.ProductName" type="text" hidden />
                                                <button id="sendButton1" class="btn btn-secondary btn-sm" type="submit">Add Comment</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            }
            @*</form>*@
            <div id="commentlist">
                <partial name="_DisplayComments" model=comments />
            </div>
            <a id="clicklink" class="btn btn-secondary btn-sm">Load more</a>
        </div>
    </div>
</div>


@section Scripts
{
    <script>
        $("#clicklink").click(function () {
            var prod = '@Model.ProductName';
            $.ajax({
                type: "get",
                url: "/Home/OnGetAllCommentAsync",
                success: function (response) {
                    $("#commentlist").html(response);
                    const items = document.getElementsByClassName("utc-date");
                    for (let i = 0; i < items.length; i++) {
                        let date = new Date(items[i].innerHTML);
                        let newDate = new Date(Date.UTC(date.getUTCFullYear(), date.getUTCMonth() + 1, date.getUTCDate(), date.getHours(), date.getMinutes(), date.getSeconds()));
                        items[i].innerHTML = newDate.getFullYear() + "-" + (newDate.getMonth()) + "-" + newDate.getDate() + " " + newDate.getHours() + ":" + newDate.getMinutes() + ":" + newDate.getSeconds();
                    }
                },
                data: { productName: prod}
            });
        });
    </script>

    <script>
        $("#ratingValue1").click(function () {
            var prod = '@Model.ProductName';
            var userIdentificator = '@userId';
            var ratingValue = "1";
            $.ajax({
                type: "get",
                url: "/Home/OnUpdateRating",
                success: function (responce) {
                    $("#ratinglist").html(responce);
                },
                data: { productName: prod, userId: userIdentificator, value: ratingValue}
            });
        });
    </script>

    <script>
        $("#ratingValue2").click(function () {
            var prod = '@Model.ProductName';
            var userIdentificator = '@userId';
            var ratingValue = "2";
            $.ajax({
                type: "get",
                url: "/Home/OnUpdateRating",
                success: function (responce) {
                    $("#ratinglist").html(responce);
                },
                data: { productName: prod, userId: userIdentificator, value: ratingValue }
            });
        });
    </script>
    <script>
        $("#ratingValue3").click(function () {
            var prod = '@Model.ProductName';
            var userIdentificator = '@userId';
            var ratingValue = "3";
            $.ajax({
                type: "get",
                url: "/Home/OnUpdateRating",
                success: function (responce) {
                    $("#ratinglist").html(responce);
                },
                data: { productName: prod, userId: userIdentificator, value: ratingValue }
            });
        });
    </script>
    <script>
        $("#ratingValue4").click(function () {
            var prod = '@Model.ProductName';
            var userIdentificator = '@userId';
            var ratingValue = "4";
            $.ajax({
                type: "get",
                url: "/Home/OnUpdateRating",
                success: function (responce) {
                    $("#ratinglist").html(responce);
                },
                data: { productName: prod, userId: userIdentificator, value: ratingValue }
            });
        });
    </script>
    <script>
        $("#ratingValue5").click(function () {
            var prod = '@Model.ProductName';
            var userIdentificator = '@userId';
            var ratingValue = "5";
            $.ajax({
                type: "get",
                url: "/Home/OnUpdateRating",
                success: function (responce) {
                    $("#ratinglist").html(responce);
                },
                data: { productName: prod, userId: userIdentificator, value: ratingValue }
            });
        });
    </script>
}

    @*<script>
        $("#ratingValue").click(function () {
            var prod = '@Model.ProductName';
            var userIdentificator = '@user.Id';
            var ratingValue = "1";
            $.ajax({
                type: "get",
                url: "/Home/OnUpdateRating",
                success: function (responce) {
                    $("#ratinglist").html(responce);
                },
                data: { productName: prod, userId: userIdentificator, value: ratingValue }
            });
        });
    </script>*@




@*<script type="text/javascript">
        var btn = document.getElementById("customButton");
        btn.addEventListener("click", function () {
            var ourRequest = new XMLHttpRequest();
            ourRequest.open("POST", "/Home/Comment")
        })

    </script>*@
@*<div style="background-color:white; height: 10px"></div>
    <p>
        <a href="~/Products/Edit/@Model.ProductId" class="btn btn-secondary btn-sm" role="button" aria-pressed="true">Edit</a>
        <a href="~/Home/Products" class="btn btn-secondary btn-sm" role="button" aria-pressed="true">Back to List</a>
        <a href="~/Categories/Details/@Model.CategoryId" class="btn btn-secondary btn-sm" role="button" aria-pressed="true">View category</a>
    </p>
    <div style="background-color:white; height: 10px"></div>*@