@model IEnumerable<ProductStore.Models.Sale>
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer

@{
    ViewBag.Title = "Sales";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Sales</h2>
<hr />
<div class="card-columns">
    @foreach (var sale in Model)
    {
        double price = Math.Round(sale.Product.Price * sale.SaleValue, 2);
        <div class="card">
            @{
//var base64 = Convert.ToBase64String(sale.Product.ProductPicture);
//var imgsrc = string.Format("data:image/jpg;base64,{0}", base64);
            }
            <div class="card-img" style="background-image: url(@sale.Product.ProductPicture);">
            </div>
            <div class="card-body">
                <h5 class="card-title">@sale.Product.ProductName</h5>
                <h6 class="card-text">@sale.Product.ProductDescription</h6>
                <h6 class="card-text">@localizer["OnlyTo"] @sale.ToDate.ToString("dddd, dd MMMM yyyy")</h6>
            </div>
            <div class="card-footer">
                <div class="row">
                    <small class="text-muted">
                        <a href="/Home/ProductCard/@sale.Product.ProductId" class="btn btn-secondary" role="button" aria-pressed="true">More Info</a>
                    </small>
                    <h4 style="align-self:end; background-color: transparent; height: 40px; margin-left:20px; text-align:center; width: 45%; border-radius: 5%">@price руб.</h4>
                    <a href="#"><img src="~/images/basket.png" style="width:45px; height: 38px; background-color: transparent; border-radius: 5%; align-self: end; margin-left: 15px" /></a>
                </div>
            </div>
        </div>
    }
</div>
